langchain
langchain-openai
langchain-core
langchain-community
docx2txt
pypdf
chromadb
python-multipart
streamlit
uvicorn
fastapi
openai  
langchain_ollama
sentence-transformers
langchain-huggingface
ragas
datasets
evaluate
pandas
